<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Panel -->
      <div class="panel panel-default">
        <!-- Panel Heading -->
        <div class="panel-heading">
          <h5>Email Validator Form Example for Angular2</h5>
        </div>
        <!-- Panel Heading -->
        <!-- Panel Body -->
        <div class="panel-body">
          <!-- Start Form -->
          <form #kullaniciForms="ngForm" novalidate (submit)="formSubmit(kullaniciForms)">

            <pre>
              {{ model | json }}
            </pre>

            <!-- Email Validation -->
            <div class="form-group has-error" [class.has-error]="email_adress.dirty && email_adress.errors">
              <label class="control-label">Email Adress </label>
              <span>( Email Valid {{ email_adress.errors | json }} )</span>
              <input
                type="text"
                class="form-control"
                emailValidate
                placeholder="Email Adress"
                name="email_adress"
                #email_adress="ngModel"
                [(ngModel)]="model.email_adress"
              >
              <div class="errors-div" *ngIf="email_adress.errors && email_adress.dirty">
                <span class="help-block" *ngIf="email_adress.errors.invalidEmailValidate">
                    Geçersiz bir Email Adresi Girdiniz
                  {{ email_adress.errors.invalidEmailValidate }}
                </span>
              </div>
            </div>
            <!-- Email Validation -->

            <!-- IBAN Validation -->
            <div class="form-group has-error" [class.has-error]="iban_no.dirty && iban_no.errors">
              <label class="control-label">IBAN </label>
              <span>( IBAN {{ iban_no.errors | json }} )</span>
              <input type="text"
                     class="form-control"
                     placeholder="IBAN"
                     name="iban_no"
                     #iban_no="ngModel"
                     [(ngModel)]="model.iban_no"
                     IbanValidate
              >
              <div class="divss" *ngIf="iban_no.errors && iban_no.dirty">
                  <span class="help-block" *ngIf="iban_no.errors.invalidIbanValidate">
                    Geçersiz IBAN
                  </span>
              </div>
            </div>
            <!-- IBAN Validation -->

            <!-- Ip Adress Validation -->
            <div class="form-group has-error" [class.has-error]="ip_adress.dirty && ip_adress.errors">
              <label class="control-label">Ip Adress </label>
              <span>( IP Adress {{ ip_adress.errors | json }} )</span>
              <input type="text"
                     class="form-control"
                     placeholder="IP Adress"
                     name="ip_adress"
                     #ip_adress="ngModel"
                     [(ngModel)]="model.ip_adress"
                     IpValidate
              >
              <div class="divss" *ngIf="ip_adress.errors && ip_adress.dirty">
                  <span class="help-block" *ngIf="ip_adress.errors.invalidIpAdress">
                    Geçersiz IP Adresi
                  </span>
              </div>
            </div>
            <!-- IP Adress Validation -->

            <button class="btn btn-success" >OK</button>

          </form>
          <!-- End Form -->
        </div>

        <!-- Panel Body -->
        <!-- Panel Footer -->
        <div class="panel-footer">


        </div>
        <!-- Panel Footer -->
      </div>
      <!-- Panel -->
    </div>
  </div>
</div>


