<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Panel -->
      <div class="panel panel-default">
        <!-- Panel Heading -->
        <div class="panel-heading">
          <h5>Email Validator Form Example for Angular2</h5>
        </div>
        <!-- Panel Heading -->
        <!-- Panel Body -->
        <div class="panel-body">
          <!-- Start Form -->
          <form #kullaniciForms="ngForm" novalidate>

            <!-- Email Validation -->
            <div class="form-group has-error" [class.has-error]="email_adress.dirty && email_adress.errors">
              <label class="control-label">Email Adress </label>
              <span>( Email Valid {{ email_adress.errors | json }} )</span>
              <input type="text" class="form-control" emailValidate  placeholder="Email Adress" name="email_adress" #email_adress="ngModel" [(ngModel)]="model.email_adress"  >

              <div class="divss" *ngIf="email_adress.errors && email_adress.dirty">
                <span class="help-block" *ngIf="email_adress.errors.invalidEmailValidate">
                    Geçersiz bir Email Adresi Girdiniz
                </span>
              </div>
            </div>
            <!-- Email Validation -->

            <!-- IBAN Validation -->
            <div class="form-group has-error" [class.has-error]="iban_no.dirty && iban_no.errors">

              <label class="control-label">IBAN </label>
              <span>( IBAN {{ iban_no.errors | json }} )</span>
              <input type="text"
                     class="form-control"
                     placeholder="IBAN"
                     name="iban_no"
                     #iban_no="ngModel"
                     [(ngModel)]="model.iban_no"
                     NotBlankValidate
                     IbanValidate
                     required
                     emailValidate
              >

              <div class="divss" *ngIf="iban_no.errors && iban_no.dirty">

                <span class="help-block" *ngIf="iban_no.errors.required">
                  required
                </span>
                  <span class="help-block" *ngIf="iban_no.errors.NotBlankValidate == false">
                  Not Blank Hatası
                </span>

                <span class="help-block" *ngIf="iban_no.errors.IbanValidate == false">
                  Geçersiz IBAN
                </span>

                <span class="help-block" *ngIf="iban_no.errors.invalidEmailValidate == true">
                  Geçersiz Email
                </span>


              </div>
            </div>
            <!-- IBAN Validation -->

            <button class="btn btn-success">OK</button>

          </form>
          <!-- End Form -->
        </div>

        <!-- Panel Body -->
        <!-- Panel Footer -->
        <div class="panel-footer">


        </div>
        <!-- Panel Footer -->
      </div>
      <!-- Panel -->
    </div>
  </div>
</div>


